<template>
    <div id="map" style="width:100%;height:100vh;"></div>
</template>

<script>
    export default {
        props: [],
        data: function () {
            return {
                lat: -6.792354,
                lng: 39.208328,
                map: {},
                marker: {},
                lineCoordinates: [],
            }
        },
        methods: {
            subscribe: function () {
                Echo.channel('location')
                    .listen('LocationUpdated', (e) => {
                        console.log(e.location.lat);
                        let data = {
                            lat: e.location.lat,
                            lng: e.location.lng
                        }
                        this.updateMap(data);
                    });                
            },
            launchMap: function (lat, lng) {

               this.map = new google.maps.Map(document.querySelector('#map'), {
                    center: new google.maps.LatLng(lat, lng),
                    zoom: 8,
               });
               this.marker = new google.maps.Marker({
                map: this.map,
                animation: "bounce"
               });
               this.marker.setPosition({lat:lat, lng: lng, alt: 0});
               this.lineCoordinates.push(new google.maps.LatLng(lat, lng));
            },
            updateMap: function (data) {
                this.lat = parseFloat(data.lat);
                this.lng = parseFloat(data.lng);

                this.map.setCenter({lat: this.lat, lng: this.lng, alt: 0});
                this.marker.setPosition({lat:this.lat, lng: this.lng, alt: 0});

                this.lineCoordinates.push(new google.maps.LatLng(this.lat, this.lng));

                let lineCoordinatesPath = new google.maps.Polyline({
                    path: this.lineCoordinates,
                    geodesic: true,
                    map: this.map,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2,
                })
            }
        },
        mounted() {
            this.subscribe();
            this.launchMap(this.lat, this.lng);
        }
    }
</script>
